*{
    margin: 0;
    padding: 0;
}

header{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 160px;
    text-align: center;
}

.degradado{
    /* https://grabient.com/HQJgbAjANKEKwxABmsOBOALDMB2EOAHNqAMxiKFIyma5TUjBJZSbASHpA?style=linearSwatches */
    height: 230px;
    background:linear-gradient(90deg, #d2a64c 0.000%, #d2a64c 7.692%, #e69c4d calc(7.692% + 1px), #e69c4d 15.385%, #ea954f calc(15.385% + 1px), #ea954f 23.077%, #dd9252 calc(23.077% + 1px), #dd9252 30.769%, #c59257 calc(30.769% + 1px), #c59257 38.462%, #aa955c calc(38.462% + 1px), #aa955c 46.154%, #979c63 calc(46.154% + 1px), #979c63 53.846%, #93a66b calc(53.846% + 1px), #93a66b 61.538%, #a0b374 calc(61.538% + 1px), #a0b374 69.231%, #b9c37f calc(69.231% + 1px), #b9c37f 76.923%, #d4d68a calc(76.923% + 1px), #d4d68a 84.615%, #e6ed97 calc(84.615% + 1px), #e6ed97 92.308%, #e9ffa4 calc(92.308% + 1px) 100.000%);
}

/* .menu-horizontal{
    align-items: center; 
    text-align: center;
} */


.nav-list{
    background-color: #448051;
    font-family: 'Times New Roman', Times, serif;
    list-style: none;
    font-size: 30px;
    
    gap: 30px;
    padding: 15px 0;
    margin: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    
}

.nav-list li a:hover{
    color: rgb(179, 91, 59);
    transition: all 0.3s ease;
}

a:hover{
    color: rgb(179, 91, 59);
    transition: all 0.3s ease;
}


main{  
    background-color:   #448051;
    display: flex;
    
    margin: auto;
    text-align: justify;
}

.header-noticias{
    background-color: #c57d2a;
    font-size: 60px;
    text-align: center;
}

p{
    line-height: 1,6px;
    margin-top: 15px;
}

section{
    background-color: rgb(231, 186, 141);
    margin-bottom: 15px;
    
    padding: 15px;
    text-align: justify;
    
}

.ult-noticias{
    display: flex;
    align-items: center;  /*Para centrar la imagen con el texto*/
    gap: 15px;
    /* flex-wrap: wrap; */
}

.texto-noticia1{
    columns: 2;
    column-gap: 30px;
}

.img-noticia1{   
    height: 630px;
    max-width: 100%;

}

.grupo-bloques{
    display: flex;
    flex-wrap: wrap;
    gap: 15px; 
    height: auto;
    
}

.bloque-grupo{
    flex: 3;
}

a{
    text-decoration: none;
    color: bisque;
}

.columna-contenido{
    flex: 9;
    display: flex;
    flex-direction: column;

}

.internacional1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}

.internacional2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.img-internacional{
    height: 300px;
}

.img-internaciona2{
    height: 200px;
}

.img-economia{  
    display: block;
    margin: 15px auto;
    height: 300px;
    object-fit: cover;
    
}

.cultura{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.img-cultura{
    display: block;
    margin: 15px auto;
    object-fit: cover;
    height: 240px;
    width: 360px;
}

.bloque-lateral{
    flex: 1;
    background-color: #73af8e;
    height: fit-content;
    padding: 15px;
    margin: 15px;

}

.header-deportes{
    background-color: #30a052;
    font-size: 60px;
    text-align: center;
}

footer{
    background-color: bisque;
    height: 100px;
    text-align: center;
    align-items: center;
}